/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Author's Stylesheet */
body {
  font-family: 'Calibri', sans-serif;
  color: #9c9fa2;
}

header h1,
header nav {
  float: left;
}

header {
  border-bottom: 1px solid #a6a79f;
}

header h1 {
  width: 30%;
  text-align: center;
  font-size: 25px;
  padding: 25px 2%;
  font-family: 'Exo 2', sans-serif;
  color: #626262;
  text-transform: uppercase;
}

header, section {
  background: #e4e5dd;
}

header nav {
  width: 70%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  color: #626262;
}

footer {
  text-align: center;
  padding: 24px 0;
  background: #f8f8f4;
}

/* Helper Classes */

.main-nav li {
  float: left;
  width: 20%;
  height: 100px;
  line-height: 100px;
  border-left: 1px solid #a6a79f;
  text-align: center;
  padding: 0 3%;
}

.splash {
  text-align: center;
  padding: 24px 0;
}

.splash img {
  max-width: 100%;
}

.column-wrap {
  margin: 0 auto;
  padding: 24px 0;
  border-top: 1px solid #a6a79f;
}

.column {
  float: left;
  width: 21%;
  margin-left: 3%;
  min-height: 435px;
  background: #FFF;
}

.column img {
  max-width: 100%;
}

.column-desc p {
  padding: 0 4%;
}

.column-desc p:first-child {
  border-bottom: 1px solid #cacac5;
  padding-bottom: 3px;
}

.column-desc .plus {
  float: right;
  font-weight: bold;
  font-size: 18px;
}

.column-desc h2 {
  padding: 25px 4%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #363e44;
}

.inner-wrap {
  max-width: 960px;
  margin: 0 auto;
}

.plus {
  color: #228bb5;
  font-family: 'Exo 2', sans-serif;
}

.light {
  background: #f8f8f4;
}

.bb {
  box-sizing: border-box;
}

.clearfix {
  overflow: hidden;
}
